*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
}
body{
    background-color: rgb(99, 111, 165);
}
/* #page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}
.all__buttons{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 402px;
    height: 400px;
    
    position: relative;
} */
/* .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5761b9;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s;

    position: absolute;
} */

/* .mix{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7a51c7;
    width: 180px;
    height: 80px;
    font-size: 20px;
    cursor: pointer;
} */

/* .button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5761b9;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s;
} */

#page2{
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

h1{
    margin-bottom: 32px;
}

.fifteen{
    width: 100%;
    padding-bottom: 100%;
    background: #e5d6f5;
    margin-bottom: 30px;
    position: relative;
}

.item{
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    border: none;
    background: rgb(53, 45, 97);
    color: white;
    font-size: 28px;
    cursor: pointer;
    box-shadow: inset 1px 1px #08060a ;
    transition: 0.2s;
    filter: 0.5;
}

.itemVal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84%;
    height: 84%;
    margin: 8%;
    box-shadow: inset 0 0 0 6px #a59d33;
}

.button{
    color: white;
    background: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
}

.button:hover{
    background: rgb(53, 45, 97);
    box-shadow: inset 0 0 0 2px #a59d33;

}

.fifteenWon .item{
    filter: brightness(200%);
    background-color: rgb(53, 138, 53);
}

.gameShuffle{
     pointer-events: none;
     opacity: 0.8;
}